# ignore ALL log files
logs/

# ignore ALL files in ANY directory named temp
*temp/
*delete/

output/*Extended*

dataProduced/
dataRaw/
datasets/
delete/
temp/

Notebooks/AE-for-Sebastian.ipynb

ForEverything.ipynb

.ipynb_checkpoints/
.snakemake/
.DS_Store/
._.DS_Store


