# ignore ALL log files
logs/

# ignore ALL files in ANY directory named temp
*temp/
*delete/
*/__pycache__/
output/*Extended*

dataProduced/
dataRaw/
datasets/
delete/
temp/
BA_output/
benchmarks/
benchmarks_small_sample/
figuresNew/
old_benchmarking/
output/
tablesNew/


Notebooks/AE-for-Sebastian.ipynb

ForEverything.ipynb
ForEverythingTemp.ipynb

yipynb_checkpoints/
.snakemake/
.DS_Store/
._.DS_Store


